/* nunito-sans-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/nunito-sans-v15-latin-300.woff2") format("woff2");
}
/* nunito-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/nunito-sans-v15-latin-600.woff2") format("woff2");
}
/* nunito-sans-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/nunito-sans-v15-latin-800.woff2") format("woff2");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fafafa;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: inline-block;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 255)), color-stop(77%, rgb(0, 0, 0)));
  background: linear-gradient(0deg, rgb(0, 0, 255) 0%, rgb(0, 0, 0) 77%);
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.site-header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 0 24px 0;
}

.site-header__title {
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 24px;
  color: #111517;
}

.site-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  cursor: pointer;
}

.site-header__content-text {
  font-family: "Nunito Sans";
  font-weight: 600;
  line-height: 16px;
  font-size: 14px;
  color: #111517;
  font-size: 16px;
}

@media only screen and (max-width: 480px) {
  .site-header__title {
    font-size: 20px;
  }
  .site-header__content {
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
}
@media only screen and (max-width: 375px) {
  .site-header__block {
    padding: 30px 0;
  }
  .site-header__title {
    font-size: 17px;
  }
  .site-header__content {
    -webkit-column-gap: 2.7px;
       -moz-column-gap: 2.7px;
            column-gap: 2.7px;
  }
  .site-header__content-text {
    font-size: 14.7px;
  }
}
.hero {
  margin-top: 79px;
}

.hero__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  padding-top: 48px;
}

.hero__form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  padding: 18px 0;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.hero__form-control:first-child {
  max-width: 480px;
  width: 100%;
  padding-left: 32px;
  padding-right: 18px;
}

.hero__form-search-icon svg {
  color: #848484;
  cursor: pointer;
}

.hero__form-search-input {
  width: 100%;
  border: none;
  outline: none;
  font-family: "Nunito Sans";
  font-weight: 600;
  line-height: 16px;
  font-size: 14px;
  color: #111517;
  font-weight: 400;
  line-height: 20px;
  color: #111517;
}

.hero__form-search-input::-webkit-input-placeholder {
  font-family: "Nunito Sans";
  font-weight: 600;
  line-height: 16px;
  font-size: 14px;
  color: #111517;
  font-weight: 400;
  line-height: 20px;
  color: #848484;
}

.hero__form-search-input::-moz-placeholder {
  font-family: "Nunito Sans";
  font-weight: 600;
  line-height: 16px;
  font-size: 14px;
  color: #111517;
  font-weight: 400;
  line-height: 20px;
  color: #848484;
}

.hero__form-search-input:-ms-input-placeholder {
  font-family: "Nunito Sans";
  font-weight: 600;
  line-height: 16px;
  font-size: 14px;
  color: #111517;
  font-weight: 400;
  line-height: 20px;
  color: #848484;
}

.hero__form-search-input::-ms-input-placeholder {
  font-family: "Nunito Sans";
  font-weight: 600;
  line-height: 16px;
  font-size: 14px;
  color: #111517;
  font-weight: 400;
  line-height: 20px;
  color: #848484;
}

.hero__form-search-input::placeholder {
  font-family: "Nunito Sans";
  font-weight: 600;
  line-height: 16px;
  font-size: 14px;
  color: #111517;
  font-weight: 400;
  line-height: 20px;
  color: #848484;
}

.hero__form-control:last-child {
  width: 200px;
  padding-left: 24px;
  padding-right: 18px;
}

.hero__form-select {
  font-family: "Nunito Sans";
  font-weight: 600;
  line-height: 16px;
  font-size: 14px;
  color: #111517;
  width: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  line-height: 20px;
  background-color: #fff;
  display: inline-block;
  cursor: pointer;
}

.hero__list {
  margin: 48px 0 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 74px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__item {
  max-width: 264px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}
.hero__item:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hero__item-img img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.hero__item-title {
  padding: 24px 0 16px 24px;
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 24px;
  color: #111517;
  line-height: 26px;
  font-size: 18px;
}

.hero__item-text {
  padding: 0 0 8px 24px;
  font-family: "Nunito Sans";
  font-weight: 600;
  line-height: 16px;
  font-size: 14px;
  color: #111517;
}

.hero__item-text span {
  font-weight: 300;
}

.hero__item-text:last-child {
  padding-bottom: 46px;
}

.loader__container {
  padding-top: 70px;
}

.loader {
  width: 70px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  -webkit-animation: l3 1s infinite linear;
          animation: l3 1s infinite linear;
}

@-webkit-keyframes l3 {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes l3 {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@media only screen and (max-width: 768px) {
  .hero__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    row-gap: 40px;
  }
  .loader__container {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 420px) {
  .loader {
    width: 50px;
  }
}
@media only screen and (max-width: 375px) {
  .hero__form {
    padding-top: 24px;
  }
  .hero__form-control {
    padding: 14px 0;
  }
}
.dark {
  background-color: #202c36;
  -webkit-transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) all;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}
.dark .site-header {
  background-color: #2b3844;
}
.dark .site-header__title {
  color: #fff;
}
.dark .site-header__content-icon svg {
  color: #202c36;
}
.dark .site-header__content-text {
  color: #fff;
}
.dark .hero__form-control {
  background-color: #2b3844;
}
.dark .hero__form-search-input {
  background-color: #2b3844;
  color: #fff;
}
.dark .hero__form-search-icon svg {
  color: #fff;
}
.dark .hero__form-search-input::-webkit-input-placeholder {
  color: #fff;
}
.dark .hero__form-search-input::-moz-placeholder {
  color: #fff;
}
.dark .hero__form-search-input:-ms-input-placeholder {
  color: #fff;
}
.dark .hero__form-search-input::-ms-input-placeholder {
  color: #fff;
}
.dark .hero__form-search-input::placeholder {
  color: #fff;
}
.dark .hero__form-select {
  background-color: #2b3844;
  color: #fff;
}
.dark .hero__item {
  background-color: #2b3844;
}
.dark .hero__item-title {
  color: #fff;
}
.dark .hero__item-text {
  color: #fff;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}/*# sourceMappingURL=main.css.map */