.hero {
  margin-top: 79px;
}
.hero__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 70px;
  padding-top: 48px;
}
.hero__form-control {
  display: flex;
  align-items: center;
  column-gap: 24px;
  padding: 18px 0;
  border-radius: 5px;
  background-color: $white;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}
.hero__form-control:first-child {
  max-width: 480px;
  width: 100%;
  padding-left: 32px;
  padding-right: 18px;
}
.hero__form-search-icon {
  cursor: pointer;
}
.hero__form-search-input {
  width: 100%;
  border: none;
  outline: none;
  @include text;
  font-weight: 400;
  line-height: 20px;
  color: $black;
}
.hero__form-search-input::placeholder {
  @include text;
  font-weight: 400;
  line-height: 20px;
  color: $grey;
}
.hero__form-control:last-child {
  width: 200px;
  padding-left: 24px;
  padding-right: 18px;
}
.hero__form-select {
  @include text;
  width: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  line-height: 20px;
  background-color: $white;
  display: inline-block;
  cursor: pointer;
}
.hero__list {
  margin: 48px 0 45px 0;
  display: flex;
  justify-content: space-around;
  gap: 74px;
  flex-wrap: wrap;
}
.hero__item {
  max-width: 264px;
  border-radius: 5px;
  background-color: $white;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  &:hover {
    box-shadow: none;
    transition: 0.4s;
  }
}
.hero__item-img img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.hero__item-title {
  padding: 24px 0 16px 24px;
  @include title;
  line-height: 26px;
  font-size: 18px;
}
.hero__item-text {
  padding: 0 0 8px 24px;
  @include text;
}
.hero__item-text span {
  font-weight: 300;
}
.hero__item-text:last-child {
  padding-bottom: 46px;
}
.loader__container {
  padding-top: 70px;
}
.loader {
  width: 70px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

@media only screen and (max-width: 768px) {
  .hero__form {
    flex-direction: column;
    align-items: start;
    row-gap: 40px;
  }
  .loader__container {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 420px) {
  .loader {
    width: 50px;
  }
}
@media only screen and (max-width: 375px) {
  .hero__form {
    padding-top: 24px;
  }
  .hero__form-control {
    padding: 14px 0;
  }
}
